accelerate==1.2.1
bitsandbytes==0.45.0
huggingface-hub==0.24.1
peft==0.5.0
protobuf==4.25.2
tiktoken==0.7.0
tokenizers==0.21.0
torch==2.5.1
tqdm==4.67.1
transformers==4.47.1
vllm==0.6.6.post1
wandb==0.16.2
pylatexenc